<a href="https://colab.research.google.com/github/SMKIDRaadet/SMKID-Point/blob/main/SMKID_Point.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#S/M-KID Point

In [3]:
#Loading dependencies
import pandas as pd
import numpy as np

current_year = '2020/2021'

In [1]:
from google.colab import auth
auth.authenticate_user()

import gspread
from oauth2client.client import GoogleCredentials

gc = gspread.authorize(GoogleCredentials.get_application_default())

In [18]:
#Load the indtastningssheet.
sh = gc.open_by_url('https://docs.google.com/spreadsheets/d/17TpTYWzlw-e8gREHyEGf-x-6guDb8R1yz_ObyLPLRPo/')

point = pd.DataFrame(sh.worksheet(current_year).get_all_values())
point.columns = point.iloc[0]
point = point[1:]

#Create the dataframe for the added points.
point['Point'] = point['Point'].replace({',' : '.'}, regex=True).astype(float)

In [19]:
point

0                     Navn  ... Point
1                  Aagaard  ...  0.25
2     Gustav Leth-Espensen  ...  0.25
3     Gustav Leth-Espensen  ...  0.25
4                   Matteo  ...  0.25
5    Matteo Christian Vogt  ...  0.25
..                     ...  ...   ...
99                   Frida  ...  0.25
100                  Frida  ...  0.25
101                  Frida  ...  2.00
102                  Frida  ...  2.00
103                  Frida  ...  2.00

[103 rows x 6 columns]